.photo-slide-wrapper {
     min-height: 25vw;
     padding:  50px 0;
     position: relative;
     height: fit-content;
     overflow: hidden;
}

#photo-slide {
     height: 100%;
     margin: 50px 0;
}
.photo-slide-li-element {
     display: flex;
     justify-content: center;
}
.photo-slide-box {
     width: 550px;
     height: 350px;
     padding: 50px;
     overflow: hidden;
}
.photo-slide-image {
     overflow: hidden; 
     border-radius: 30px;
     overflow: hidden;
     height: 100%;
}
.photo-slide-image > img {
     width: 100%;
     height: 100%;
     object-fit: cover
}

.photo_splide__pagination {
     bottom: 10px;
}

.photo-slide-box {
     transition: all( ease-out ) ;
     transition-duration: 200ms;
     z-index: 0;
}

#photo-slide .is-active .photo-slide-box {
     transform: scale(1.3) translateY(-50px) translateZ(20px);
     z-index: 20 !important;
}

@media only screen and (max-width: 996px) {
     .photo_splide__pagination {
          bottom: 0px;
     }
}