.box-link-wrapper {
     width: 100%;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     position: relative;
     padding: 80px 0;
     overflow-x: clip;
     overflow-y: visible;
}

.box-link-container {
     width: 100%;
     max-width: 1600px;
     display: flex;
     flex-wrap: wrap;
     justify-content:center;
     overflow-y: visible;
     
     z-index: 20;
}
.box-link-box {
     flex-basis: 40%;
     flex-shrink: 8;
     margin: 20px;
     position: relative;
     padding: 80px 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 10px;
}

.box-link-box p { margin: 0; text-align: center; }
.box-link-box h4 { margin: 0; text-align: center; } 

.box-link-image {
     position: absolute;
}

@media only screen and (max-width: 992px) {
     .box-link-box {
          flex-basis: 100%;
     }
}