.people-grid-wrapper {
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
.people-grid-title { width: 100%;}
.people-grid-container {
     width: 100%;
     padding: 80px;
     max-width: 1600px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 10px;
     
}

.people-grid-box {
     width: clamp( 250px, 27.5vw, 450px );
}

.people-grid-image {
     width: clamp( 250px, 27.5vw, 450px );
     height: clamp( 250px, 27.5vw, 450px );
     overflow: hidden;
     border-radius: 30px;
     border: 4px solid #6EA9D8;
     margin-bottom:20px;
}

.people-grid-image img {
     height: 100%;
     width: 100%;
     object-fit: cover;
}

.people-grid-box > h4 {
     margin:0;
}

.people-grid-box > p {
     margin:10px 0 0 0;
}

.people-grid-icons {
     margin: 12px 0;
     height: 20px;
}
.people-grid-icons > a { margin-right:5px; }
.people-grid-icons > a > img  {
     height: 23px;
     transition: all ease 200ms;
}

.people-grid-icons > a > img:hover { transform: scale(1.2); }

@media only screen and (max-width: 900px) {
     .people-grid-container {
          padding: 5%;
          justify-content: center;
     }
     .people-grid-container > h2 { padding-bottom: 20px; }
}