/* _fonts.scss */

@font-face {
     font-family: 'Media Sans';
     src: url('../fonts/mediasansweb-bold.woff2') format('woff2'),
          url('../fonts/mediasansweb-bold.woff') format('woff');
     /* Add more src lines for different formats if needed */
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'GT Alpina';
     src: url('../fonts/GT-Alpina-Standard-Regular.woff2') format('woff2'),
          url('../fonts/GT-Alpina-Standard-Regular.woff') format('woff');
     /* Add more src lines for different formats if needed */
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'GT Alpina';
     src: url('../fonts/GT-Alpina-Standard-Bold.woff2') format('woff2'),
          url('../fonts/GT-Alpina-Standard-Bold.woff') format('woff');
     /* Add more src lines for different formats if needed */
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'GT Alpina';
     src: url('../fonts/GT-Alpina-Standard-Regular-Italic.woff2') format('woff2'),
          url('../fonts/GT-Alpina-Standard-Regular-Italic.woff') format('woff');
     /* Add more src lines for different formats if needed */
     font-weight: normal;
     font-style: italic;
}

@font-face {
     font-family: 'GT Alpina';
     src: url('../fonts/GT-Alpina-Standard-Bold-Italic.woff2') format('woff2'),
          url('../fonts/GT-Alpina-Standard-Bold-Italic.woff') format('woff');
     /* Add more src lines for different formats if needed */
     font-weight: bold;
     font-style: italic;
}

:root{
     font-family: 'GT Alpina';
     color:$black;
}

h1, h2, h3, h4, h5, h6 {
     font-family:  'Media Sans';
     margin: 0;
     letter-spacing: 1px;
}

.gtalpina { font-family: 'GT Alpina'; }
.mediosans { font-family:  'Media Sans'; }

//Font Size Definition
$fxxl: clamp(55px, 10vw, 80px);
$fxl: clamp(45px, 8vw, 70px);
$fl: clamp(35px, 7vw, 50px);
$fm: clamp(32px, 6vw, 40px);
$fs: clamp(24px, 5vw, 28px);
$fxs: clamp(16px, 2vw, 22px);
$fxxs: clamp(16px, 1.6vw, 18px);

h1, .fxxl { font-size: $fxxl;  }

h2, .fxl { font-size: $fxl; }

h3, .fl { font-size: $fl; }

h4, .fm { font-size: $fm; }

h5, .fs { font-size: $fs; }

h6, .fxs { font-size: $fxs; }

p, blockquote, ul>li, ol>li { font-size: $fxs; }

a { &:hover {cursor: pointer;} }

.fxxs { font-size: $fxxs; line-height: 1.4; }

ul>li, ol>li { margin-bottom: 10px;  }

