
$blue: #1582BE;
.bg-blue{ background-color: $blue; }
.c-blue { color:$blue; }

$blue-mid: #6EA9D8;
.bg-blue-mid{ background-color: $blue-mid; }
.c-blue-mid { color:$blue-mid; }

$blue-light: #A1CCEB;
.bg-blue-light{ background-color: $blue-light; }
.c-blue-light { color:$blue-light; }

$blue-ultra-light: #E3F0F9;
.bg-blue-ultra-light{ background-color: $blue-ultra-light; }
.c-blue-ultra-light { color:$blue-ultra-light; }

$orange: #DF5F31;
.bg-orange { background-color: $orange; }
.c-orange { color:$orange; }

$black: #454034;
.bg-black{ background-color: $black; }
.c-black { color:$black; }

$white: #ffffff;
.bg-white { background-color: $white; }
.c-white { color:$white; }

$lightgrey: #e1e1e1;
.bg-lightgrey { background-color: $lightgrey; }
.c-lightgrey { color:$lightgrey; }

