
video::-webkit-media-controls-panel {

     position: relative;
}
video::-webkit-media-controls-play-button {
     background-color: $blue;
     border-radius: 50%;
     position: fixed;
     margin: auto;
     top:0; bottom:0;
     left:0; right:0;
     color: red;

     &:hover {
       
     }
     &:active {
           background-color: rgba(0,0,0,.3);
     }
}

video::-webkit-media-controls-volume-slider-container{}
video::-webkit-media-controls-volume-slider {}
video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {

}
video::-webkit-media-controls-current-time-display {
     
}
video::-webkit-full-page-media::-webkit-media-controls-panel {
     
}
video::-webkit-media-controls-timeline-container {
   color:$blue;
}
video::-webkit-media-controls-time-remaining-display {
     
}
video::-webkit-media-controls-seek-back-button {
     background-color: red;
}
video::-webkit-media-controls-seek-forward-button {}
video::-webkit-media-controls-fullscreen-button {}
video::-webkit-media-controls-rewind-button {}
video::-webkit-media-controls-return-to-realtime-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
