@use "utils/reset";
@use "utils/responsive";
@use "utils/variables";
@use "utils/fonts";
@use "utils/elements";
@use "utils/layout";
@use "utils/forms";
@use "utils/scrollbar";
@use "utils/video";
@use "utils/animation";
@use "utils/menu";
@use "utils/social-media-flag";
@use "utils/wp-styles";

@use "components/header";
@use "components/footer";
@use "components/lightbox";
// Import other files as needed

//plugins
@use "plugins/splide";
@use "plugins/friendly-forms";

//templates
@use "templates/default";
@use "templates/legals";
@use "templates/partner";
@use "templates/content-hub";
@use "templates/post";
@use "templates/404" as error404;

::selection {
    background: variables.$orange;
    color: variables.$white;
}

html {
    scroll-behavior: smooth !important;
}

body {
    cursor: url("../img/utils/cursor.svg"), auto !important;
}

#main-wrapper {
    width: 100vw;
}
.bspbox {
    @include elements.primaryBox;
}

.bspbox2 {
    @include elements.secondaryBox;
}

.splide {
    width: 100%;
}

.splide__pagination__page {
    padding: 15px;
}

.splide__pagination__page.is-active {
    background-color: #6ea9d8;
}
