.footer-wrapper {
     background-color: $blue-light;
     width:100vw;
     display:flex;
     justify-content: center;
     align-items: center;
     padding: 40px 0;
}

.footer-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     gap: 50px;
     width: 95%;
     max-width: 1600px;
     @include breakpoint('m'){ padding: 0 40px; }
     .footer-left {
          width:25%;
          @include breakpoint('m'){ width: 100%; }
     }
     
     .footer-mid {
          width:calc(50% - 100px);
          display: flex;
          justify-content: center;
          @include breakpoint('m'){ width: 100%; }
          .mauticform_wrapper {
               color: $white;
          }
     }
     
     .footer-right {
          width: 25%;
          @include breakpoint('m'){ width: 100%; }
          ul {
               list-style-type:none;
               padding: 0;
               li {
                    margin-bottom:10px;
                    a { 
                         &:hover {
                              color: $orange;
                              cursor: pointer;
                         }
                    }
               }
          }
         
     }

     .footer-bottom-line {
          width: 100%;
          border-top: 1px solid $white;
          padding: 20px 0 0 0;
          margin-top: 20px; 
          display: flex;
          justify-content: flex-end;

          .footer-social-media {
               display: flex;
               gap: 10px;

               a {
                    width: 30px;
                    height: 30px;
                    transition: all ease 200ms;
                    img { height:100%; width:100%;}

                    &:hover {
                         transform: scale(1.2);
                         cursor: pointer;
                    }
               }
          }
     }

     @include breakpoint('m'){
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 40px;
     }
     
}

