.footer-wrapper {
     background-color: $blue-light;
     width:100vw;
     display:flex;
     justify-content: center;
     align-items: center;
     padding: 40px 0;
}

.footer-container {
     display: flex;
     justify-content: space-between;
     align-items: start;
     flex-wrap: wrap;
     gap: 5%;
     width: 95%;
     max-width: 1600px;
     @include breakpoint('m'){ padding: 0 40px; }

     .footer-left {
          width:25%;
          @include breakpoint('m'){ width: 100%; }
     }
       
     .footer-right {
          width: 70%;
          @include breakpoint('m'){ width: 100%; }
          .footer-menu {
               list-style-type:none;
               padding: 0;
               display: flex;
               justify-content: space-between;
               color: $white; 
               > li {
                    margin-bottom:10px;
                    > a { 
                         font-family:'Media Sans';
                         &:hover {
                              color: $orange;
                              cursor: pointer;
                         }
                    }

                    .sub-menu {
                         margin-top:10px;
                         list-style-type:none;
                         padding: 0;
                         li {
                              align-self: start;
                              a:hover {
                                   color: $orange;
                              }
                         }
                    }
               }
          }
         
     }

     .footer-bottom-line {
          width: 100%;
          border-top: 1px solid $white;
          padding: 20px 0 0 0;
          margin-top: 20px; 
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          .footer-social-media {
               display: flex;
               gap: 10px;

               a {
                    width: 30px;
                    height: 30px;
                    transition: all ease 200ms;
                    img { height:100%; width:100%;}

                    &:hover {
                         transform: scale(1.2);
                         cursor: pointer;
                    }
               }
          }
     }

     @include breakpoint('m'){
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 40px;
     }
     
}

