@charset "UTF-8";
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  all: unset; }

ul {
  margin: 0; }

.bg-blue {
  background-color: #1582BE; }

.c-blue {
  color: #1582BE !important; }

.bg-blue-mid {
  background-color: #6EA9D8; }

.c-blue-mid {
  color: #6EA9D8; }

.bg-blue-light {
  background-color: #A1CCEB; }

.c-blue-light {
  color: #A1CCEB; }

.bg-blue-ultra-light {
  background-color: #E3F0F9; }

.c-blue-ultra-light {
  color: #E3F0F9; }

/*$orange: #DF5F31;*/
.bg-orange {
  background-color: #F95300; }

.c-orange {
  color: #F95300; }

.bg-black {
  background-color: #454034; }

.c-black {
  color: #454034; }

.bg-white {
  background-color: #ffffff; }

.c-white {
  color: #ffffff; }

.bg-lightgrey {
  background-color: #e1e1e1; }

.c-lightgrey {
  color: #e1e1e1; }

/* _fonts.scss */
@font-face {
  font-family: 'Media Sans';
  src: url("../fonts/mediasansweb-bold.woff2") format("woff2"), url("../fonts/mediasansweb-bold.woff") format("woff");
  /* Add more src lines for different formats if needed */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GT Alpina';
  src: url("../fonts/GT-Alpina-Standard-Regular.woff2") format("woff2"), url("../fonts/GT-Alpina-Standard-Regular.woff") format("woff");
  /* Add more src lines for different formats if needed */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GT Alpina';
  src: url("../fonts/GT-Alpina-Standard-Bold.woff2") format("woff2"), url("../fonts/GT-Alpina-Standard-Bold.woff") format("woff");
  /* Add more src lines for different formats if needed */
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GT Alpina';
  src: url("../fonts/GT-Alpina-Standard-Regular-Italic.woff2") format("woff2"), url("../fonts/GT-Alpina-Standard-Regular-Italic.woff") format("woff");
  /* Add more src lines for different formats if needed */
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'GT Alpina';
  src: url("../fonts/GT-Alpina-Standard-Bold-Italic.woff2") format("woff2"), url("../fonts/GT-Alpina-Standard-Bold-Italic.woff") format("woff");
  /* Add more src lines for different formats if needed */
  font-weight: bold;
  font-style: italic; }

:root {
  font-family: 'GT Alpina';
  color: #454034; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Media Sans';
  margin: 0;
  letter-spacing: 1px; }

.gtalpina {
  font-family: 'GT Alpina'; }

.mediosans {
  font-family: 'Media Sans'; }

h1, .fxxl {
  font-size: clamp(55px, 10vw, 80px); }

h2, .fxl {
  font-size: clamp(45px, 8vw, 70px); }

h3, .fl {
  font-size: clamp(35px, 7vw, 50px); }

h4, .fm {
  font-size: clamp(32px, 6vw, 40px); }

h5, .fs {
  font-size: clamp(24px, 5vw, 28px); }

h6, .fxs {
  font-size: clamp(16px, 2vw, 22px); }

p, blockquote, ul > li, ol > li {
  font-size: clamp(16px, 2vw, 22px); }

a:hover {
  cursor: pointer; }

.fxxs {
  font-size: clamp(12px, 1.2vw, 18px) !important;
  line-height: 1.4; }

ul > li, ol > li {
  margin-bottom: 10px; }

.img-cover {
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.sud-shadow {
  box-shadow: 5px 5px 21px 0px rgba(69, 64, 52, 0.3); }

.primatyBox {
  box-shadow: 5px 5px 21px 0px rgba(69, 64, 52, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(69, 64, 52, 0.15);
  background: var(--white, #FFF); }

.secondaryBox {
  border-radius: clamp(24px, 5vw, 28px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f8f8f8; }

.btn-primary {
  font-family: 'Media Sans';
  font-size: clamp(22px, 5vw, 28px);
  padding: 20px;
  border-radius: 25px;
  border: none;
  background-color: #1582BE;
  color: #ffffff; }
  .btn-primary:hover {
    cursor: pointer; }
  .btn-primary p {
    font-size: clamp(22px, 5vw, 28px); }
  .btn-primary:hover {
    background-color: #F95300; }
  .btn-primary p {
    margin: 0px; }

.btn-secondary {
  font-family: 'Media Sans';
  font-size: clamp(22px, 5vw, 28px);
  padding: 20px;
  border-radius: 25px;
  border: none;
  border: 2px solid #1582BE;
  background-color: unset;
  color: #1582BE; }
  .btn-secondary:hover {
    cursor: pointer; }
  .btn-secondary p {
    font-size: clamp(22px, 5vw, 28px); }
  .btn-secondary:hover {
    border-color: #F95300;
    background-color: #F95300;
    color: #ffffff; }

.btn-l {
  font-size: clamp(20px, 3vw, 30px);
  padding: 20px;
  letter-spacing: 1px; }
  @media (max-width: 996px) {
    .btn-l {
      font-size: clamp(20px, 3vw, 30px);
      padding: 20px; } }

.btn-s {
  font-size: clamp(10px, 2vw, 20px);
  padding: 10px;
  letter-spacing: 1px; }
  @media (max-width: 996px) {
    .btn-s {
      font-size: clamp(15px, 2.5vw, 30px);
      padding: 15px; } }

.btn-secondary.btn-neg {
  border-color: #ffffff;
  color: #ffffff; }

button {
  font-family: 'Media Sans';
  font-size: clamp(22px, 5vw, 28px);
  padding: 20px;
  border-radius: 25px;
  border: none;
  background-color: #1582BE;
  color: #ffffff;
  letter-spacing: 1px; }
  button:hover {
    cursor: pointer; }
  button p {
    font-size: clamp(22px, 5vw, 28px); }
  button:hover {
    background-color: #F95300; }
  button p {
    margin: 0px; }

.sud-bg-design {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible; }
  .sud-bg-design .sud-bg-element-half-circle-01 {
    background-color: #E3F0F9;
    clip-path: circle(50% at 50% 0%);
    position: absolute;
    overflow: visible; }
  .sud-bg-design .sud-bg-element-polygon-01 {
    position: absolute;
    background-color: #E3F0F9;
    clip-path: polygon(100% 0, 63% 71%, 100% 100%); }

.sud-element {
  position: fixed;
  z-index: -5;
  transform-origin: center center;
  display: none; }
  .sud-element div {
    width: 100%;
    height: 100%;
    background-color: #E3F0F9; }

.sud-main-wrapper {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0; }

.sud-main-container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 20;
  padding: 0 5%; }

form label {
  font-size: clamp(16px, 2vw, 22px); }

form input[type=text],
form input[type=email] {
  font-size: clamp(16px, 2vw, 22px);
  font-family: 'GT Alpina';
  padding: 20px;
  border-radius: 20px; }
  form input[type=text]:focus,
  form input[type=email]:focus {
    background-color: #E3F0F9; }

form input[type=checkbox] {
  border-radius: 50%;
  margin: 0; }

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1582BE rgba(0, 0, 0, 0); }

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 9px;
  width: 10px; }

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0); }

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0); }

*::-webkit-scrollbar-track:active {
  background-color: #E3F0F9; }

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #1582BE; }

*::-webkit-scrollbar-thumb:hover {
  background-color: #F95300; }

*::-webkit-scrollbar-thumb:active {
  background-color: #F95300; }

video::-webkit-media-controls-play-button {
  background-color: #1582BE;
  border-radius: 50%; }
  video::-webkit-media-controls-play-button:active {
    background-color: rgba(0, 0, 0, 0.3); }

video::-webkit-media-controls-timeline-container {
  color: #1582BE; }

.header-menu {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  /* Style for the navigation menu */
  /* Style for the dropdown menu */ }
  .header-menu .desktop-menu {
    display: flex;
    gap: 10px;
    list-style: none outside none !important;
    font-family: 'Media Sans';
    font-size: clamp(16px, 2vw, 22px);
    color: #F95300; }
  .header-menu .menu-item:hover > a {
    color: #1582BE; }
  .header-menu .se2-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .header-menu .se2-navigation li {
    display: inline-block;
    margin: 0 5px;
    position: relative; }
  .header-menu .se2-navigation a {
    text-decoration: none; }
  .header-menu .se2-sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 5px 5px 21px 0px rgba(69, 64, 52, 0.3);
    padding: 10px;
    margin-top: 10px; }
  .header-menu .se2-sub-menu li {
    margin: 0;
    padding: 20px;
    width: 100%;
    cursor: pointer; }
  .header-menu .header-cta {
    margin-left: 10px; }

.burger-menu-wrapper {
  display: none; }

.burger-menu-trigger {
  display: none; }

@media (max-width: 996px) {
  .header-menu {
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100%;
    justify-content: center; }
  .desktop-menu-content {
    display: none; }
  .header-cta-desktop {
    display: none; }
  .burger-menu-trigger {
    display: block;
    cursor: pointer; }
  .open {
    display: block !important; }
  .burger-menu-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1582BE;
    top: 0;
    left: 0;
    z-index: 2000;
    padding-top: 5vh; }
    .burger-menu-wrapper .burger-menu-closer {
      position: absolute;
      top: 30px;
      right: 30px;
      height: 25px;
      z-index: 2005; }
      .burger-menu-wrapper .burger-menu-closer img {
        width: 25px; }
    .burger-menu-wrapper .burger-menu-sud-icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 50px; }
      .burger-menu-wrapper .burger-menu-sud-icon img {
        width: 80px; }
    .burger-menu-wrapper .header-cta-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 40px 0; }
      .burger-menu-wrapper .header-cta-wrapper a {
        margin: 0; }
      .burger-menu-wrapper .header-cta-wrapper .header-cta {
        margin: 0; }
    .burger-menu-wrapper .menu-burger-content {
      overflow-y: scroll;
      height: 60vh;
      scrollbar-width: 0; }
      .burger-menu-wrapper .menu-burger-content::-webkit-scrollbar {
        width: 0; }
    .burger-menu-wrapper .burger-menu {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; }
      .burger-menu-wrapper .burger-menu a {
        font-family: 'Media Sans';
        color: white;
        letter-spacing: .1rem; }
      .burger-menu-wrapper .burger-menu > li {
        width: 100%;
        border-bottom: 1px solid #6EA9D8;
        padding: 20px 0;
        margin: 0;
        text-align: center; }
        .burger-menu-wrapper .burger-menu > li:hover {
          background-color: #6EA9D8; }
        .burger-menu-wrapper .burger-menu > li .sub-menu {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          width: 100%; }
          .burger-menu-wrapper .burger-menu > li .sub-menu li {
            margin: 0;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #1582BE;
            text-align: center;
            background-color: #6EA9D8; }
            .burger-menu-wrapper .burger-menu > li .sub-menu li:first-of-type {
              margin-top: 20px; }
            .burger-menu-wrapper .burger-menu > li .sub-menu li:last-of-type {
              margin-bottom: 0; }
            .burger-menu-wrapper .burger-menu > li .sub-menu li:hover {
              background-color: #A1CCEB; }
            .burger-menu-wrapper .burger-menu > li .sub-menu li a {
              color: #1582BE; } }

.social-media-flag {
  z-index: 1000;
  position: fixed;
  width: 60px;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  top: 60vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 200ms ease-in-out;
  right: -30px;
  transform: scale(0.8); }
  .social-media-flag:hover {
    background-color: #F95300;
    transform: scale(1);
    right: 0; }
    .social-media-flag:hover a {
      margin-left: 0px;
      border-radius: 50%;
      padding: 2px;
      transform: scale(1); }
  .social-media-flag a {
    max-width: 100%;
    transition: all 200ms ease-in-out;
    margin-left: -30px;
    background-color: #F95300;
    border-radius: 50%;
    padding: 2px;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center; }
    .social-media-flag a img {
      max-width: 100%; }
    .social-media-flag a:hover {
      transform: scale(1.2); }

body {
  margin-top: 140px;
  background-color: #f8f8f8; }
  @media (max-width: 996px) {
    body {
      margin-top: 100px; } }

.header-wrapper {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  height: 140px;
  width: 100vw;
  padding: 20px 30px;
  background-color: #ffffff; }
  @media (max-width: 996px) {
    .header-wrapper {
      height: 100px; } }

.header-logo {
  display: block;
  height: 100%;
  width: auto; }
  .header-logo:hover {
    cursor: pointer; }
  .header-logo img {
    max-height: 100%;
    object-fit: contain;
    width: auto; }
    @media (max-width: 996px) {
      .header-logo img {
        height: 60px; } }

.header-meta-menu {
  position: absolute;
  right: 30px;
  top: 0px !important; }
  @media (max-width: 996px) {
    .header-meta-menu {
      display: none; } }
  .header-meta-menu ul {
    display: flex;
    list-style: none outside none !important;
    color: #1582BE;
    font-weight: bold; }
    .header-meta-menu ul li {
      padding: 10px 10px 0 10px;
      border-left: 2px solid #1582BE; }
      .header-meta-menu ul li:last-of-type {
        border-right: 2px solid #1582BE; }
      .header-meta-menu ul li:hover {
        background-color: #1582BE;
        color: #ffffff;
        cursor: pointer; }

.footer-wrapper {
  background-color: #A1CCEB;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0; }

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 5%;
  width: 95%;
  max-width: 1600px; }
  @media (max-width: 996px) {
    .footer-container {
      padding: 0 40px; } }
  .footer-container .footer-left {
    width: 25%; }
    @media (max-width: 996px) {
      .footer-container .footer-left {
        width: 100%; } }
  .footer-container .footer-right {
    width: 70%; }
    @media (max-width: 996px) {
      .footer-container .footer-right {
        width: 100%; } }
    .footer-container .footer-right .footer-menu {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      color: #ffffff; }
      @media (max-width: 996px) {
        .footer-container .footer-right .footer-menu {
          flex-direction: column; } }
      .footer-container .footer-right .footer-menu > li {
        margin-bottom: 10px; }
        .footer-container .footer-right .footer-menu > li > a {
          font-family: 'Media Sans'; }
          .footer-container .footer-right .footer-menu > li > a:hover {
            color: #F95300;
            cursor: pointer; }
        .footer-container .footer-right .footer-menu > li .sub-menu {
          margin-top: 10px;
          list-style-type: none;
          padding: 0; }
          .footer-container .footer-right .footer-menu > li .sub-menu li {
            align-self: start; }
            .footer-container .footer-right .footer-menu > li .sub-menu li a:hover {
              color: #F95300; }
  .footer-container .footer-bottom-line {
    width: 100%;
    border-top: 1px solid #ffffff;
    padding: 20px 0 0 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; }
    .footer-container .footer-bottom-line .footer-social-media {
      display: flex;
      gap: 10px; }
      .footer-container .footer-bottom-line .footer-social-media a {
        width: 30px;
        height: 30px;
        transition: all ease 200ms; }
        .footer-container .footer-bottom-line .footer-social-media a img {
          height: 100%;
          width: 100%; }
        .footer-container .footer-bottom-line .footer-social-media a:hover {
          transform: scale(1.2);
          cursor: pointer; }
  @media (max-width: 996px) {
    .footer-container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px; } }

.lightbox-wrapper {
  position: fixed;
  z-index: 8000 !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; }
  .lightbox-wrapper .lightbox-close-layer {
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 2%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 996px) {
      .lightbox-wrapper .lightbox-close-layer {
        top: 1%; } }
    .lightbox-wrapper .lightbox-close-layer img {
      width: 50%;
      height: 50%;
      transform: all();
      transition-duration: 200ms; }
      .lightbox-wrapper .lightbox-close-layer img:hover {
        cursor: pointer;
        transform: scale(1.25); }
  .lightbox-wrapper .lightbox-container {
    z-index: 2010;
    position: relative;
    background-color: #6EA9D8;
    max-width: 90vw;
    max-height: 75vh;
    padding: 60px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 21px 0px rgba(69, 64, 52, 0.3); }
    @media (max-width: 996px) {
      .lightbox-wrapper .lightbox-container {
        padding: 30px 0 20px 10px;
        max-width: 95vw; } }
    .lightbox-wrapper .lightbox-container .lightbox-content {
      position: relative;
      overflow-y: scroll;
      max-height: 60vh;
      padding: 10px;
      z-index: 2015; }
    .lightbox-wrapper .lightbox-container .lightbox-bg-element-01 {
      z-index: 2010;
      height: 80%;
      width: 60%;
      position: absolute;
      top: 5%;
      left: -20%;
      background-color: #1582BE;
      clip-path: polygon(63% 0, 0 60%, 100% 97%);
      opacity: .6; }
    .lightbox-wrapper .lightbox-container .lightbox-bg-element-02 {
      z-index: 2010;
      height: 80%;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: -50%;
      background-color: #A1CCEB;
      clip-path: circle(50% at 50% 99%);
      opacity: .6; }

::selection {
  background: #F95300;
  color: #ffffff; }

body {
  cursor: url("../img/utils/cursor.svg"), auto !important; }

#main-wrapper {
  width: 100vw; }

.bspbox {
  box-shadow: 5px 5px 21px 0px rgba(69, 64, 52, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(69, 64, 52, 0.15);
  background: var(--white, #FFF); }

.bspbox2 {
  border-radius: clamp(24px, 5vw, 28px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f8f8f8; }

.template-default-wrapper {
  display: flex;
  padding: 20px; }

.template-legals-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px; }
  .template-legals-wrapper .template-legals-container {
    max-width: 800px; }
    .template-legals-wrapper .template-legals-container h1, .template-legals-wrapper .template-legals-container h2, .template-legals-wrapper .template-legals-container h3, .template-legals-wrapper .template-legals-container h4, .template-legals-wrapper .template-legals-container h5, .template-legals-wrapper .template-legals-container h6 {
      color: #F95300; }
    .template-legals-wrapper .template-legals-container p, .template-legals-wrapper .template-legals-container li, .template-legals-wrapper .template-legals-container span, .template-legals-wrapper .template-legals-container ul, .template-legals-wrapper .template-legals-container ol {
      color: #1582BE; }

.template-partner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px; }
  .template-partner-wrapper .template-partner-container {
    max-width: 800px; }
    .template-partner-wrapper .template-partner-container h1, .template-partner-wrapper .template-partner-container h2, .template-partner-wrapper .template-partner-container h3, .template-partner-wrapper .template-partner-container h4, .template-partner-wrapper .template-partner-container h5, .template-partner-wrapper .template-partner-container h6 {
      color: #F95300; }
    .template-partner-wrapper .template-partner-container p, .template-partner-wrapper .template-partner-container li, .template-partner-wrapper .template-partner-container span, .template-partner-wrapper .template-partner-container ul, .template-partner-wrapper .template-partner-container ol {
      color: #1582BE; }

.sud-partner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* PRIO 1 */
  /* PRIO 2 */
  /* PRIO 3 */ }
  .sud-partner-container h5 {
    width: 100%;
    margin-bottom: 40px; }
  .sud-partner-container .partner-logo-grid {
    margin: 20px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; }
    .sud-partner-container .partner-logo-grid a, .sud-partner-container .partner-logo-grid .partner-logo-box {
      min-height: 200px; }
    .sud-partner-container .partner-logo-grid .partner-logo-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 10px;
      overflow: hidden;
      box-shadow: 5px 5px 21px 0px rgba(69, 64, 52, 0.3);
      border-radius: 20px;
      border: 1px solid rgba(69, 64, 52, 0.15);
      background: var(--white, #FFF);
      transition: all ease 200ms; }
      .sud-partner-container .partner-logo-grid .partner-logo-box img {
        transition: all ease 200ms;
        max-width: 95%;
        max-height: 95%; }
      .sud-partner-container .partner-logo-grid .partner-logo-box .partner-box-overlay {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease 200ms;
        opacity: 0;
        background: linear-gradient(-360deg, white 0%, rgba(255, 255, 255, 0) 46%); }
      .sud-partner-container .partner-logo-grid .partner-logo-box .partner-link-arrow {
        z-index: 12;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        opacity: 0;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 400ms; }
      .sud-partner-container .partner-logo-grid .partner-logo-box:hover {
        cursor: pointer;
        transform: scale(0.98);
        background-color: #E3F0F940; }
        .sud-partner-container .partner-logo-grid .partner-logo-box:hover img {
          transform: scale(1.05); }
        .sud-partner-container .partner-logo-grid .partner-logo-box:hover .partner-box-overlay {
          background: linear-gradient(280deg, white 30%, rgba(255, 255, 255, 0) 90%);
          opacity: .8; }
        .sud-partner-container .partner-logo-grid .partner-logo-box:hover .partner-link-arrow {
          background-color: #1582BE;
          opacity: 1;
          right: 0;
          left: 0;
          transform: scale(1.35); }
          .sud-partner-container .partner-logo-grid .partner-logo-box:hover .partner-link-arrow img {
            filter: brightness(10); }
  .sud-partner-container .partner-prio-1 a, .sud-partner-container .partner-prio-1 .partner-logo-a-placer {
    width: 49%;
    margin: .5%;
    min-height: 200px; }
    @media (max-width: 480px) {
      .sud-partner-container .partner-prio-1 a, .sud-partner-container .partner-prio-1 .partner-logo-a-placer {
        width: 100%;
        margin: 0; } }
  .sud-partner-container .partner-prio-2 a, .sud-partner-container .partner-prio-2 .partner-logo-a-placer {
    width: 32%;
    margin: .5%;
    min-height: 180px; }
    @media (max-width: 600px) {
      .sud-partner-container .partner-prio-2 a, .sud-partner-container .partner-prio-2 .partner-logo-a-placer {
        width: 49%;
        margin: .5%;
        min-height: 200px; } }
    @media (max-width: 380px) {
      .sud-partner-container .partner-prio-2 a, .sud-partner-container .partner-prio-2 .partner-logo-a-placer {
        width: 100%;
        margin: 0; } }
  .sud-partner-container .partner-prio-3 a, .sud-partner-container .partner-prio-3 .partner-logo-a-placer {
    width: 24%;
    margin: .5%;
    min-height: 130px; }
    @media (max-width: 600px) {
      .sud-partner-container .partner-prio-3 a, .sud-partner-container .partner-prio-3 .partner-logo-a-placer {
        width: 32%;
        margin: .5%;
        min-height: 180px; } }
    @media (max-width: 480px) {
      .sud-partner-container .partner-prio-3 a, .sud-partner-container .partner-prio-3 .partner-logo-a-placer {
        width: 49%;
        margin: .5%;
        min-height: 180px; } }
    @media (max-width: 380px) {
      .sud-partner-container .partner-prio-3 a, .sud-partner-container .partner-prio-3 .partner-logo-a-placer {
        width: 100%;
        margin: 0; } }
  .sud-partner-container .partner-prio-3.partner-grid-width-50 {
    width: 49%; }
    @media (max-width: 600px) {
      .sud-partner-container .partner-prio-3.partner-grid-width-50 {
        width: 100%; } }
    .sud-partner-container .partner-prio-3.partner-grid-width-50 a, .sud-partner-container .partner-prio-3.partner-grid-width-50 .partner-logo-a-placer {
      width: 49%;
      margin: .5%;
      min-height: 150px; }
      @media (max-width: 480px) {
        .sud-partner-container .partner-prio-3.partner-grid-width-50 a, .sud-partner-container .partner-prio-3.partner-grid-width-50 .partner-logo-a-placer {
          width: 49%;
          margin: .5%;
          min-height: 180px; } }
      @media (max-width: 380px) {
        .sud-partner-container .partner-prio-3.partner-grid-width-50 a, .sud-partner-container .partner-prio-3.partner-grid-width-50 .partner-logo-a-placer {
          width: 100%;
          margin: 0; } }

.partner-lightbox .lightbox-content {
  display: flex;
  flex-direction: column; }

.partner-lightbox blockquote {
  font-family: 'Media Sans';
  letter-spacing: 2px;
  line-height: 2rem; }
  .partner-lightbox blockquote::before, .partner-lightbox blockquote::after {
    position: absolute;
    font-size: 64px;
    opacity: .8;
    font-family: 'GT Alpina'; }
  .partner-lightbox blockquote::before {
    content: '«';
    margin: -10px 0 0 -45px; }
  .partner-lightbox blockquote::after {
    content: '»';
    right: 40px;
    margin: 0 -35px 0 0; }
  .partner-lightbox blockquote span {
    font-family: 'GT Alpina'; }

.partner-lightbox .partner-website-btn {
  display: block;
  width: fit-content;
  align-self: center; }

.template-content-hub-wrapper .template-content-hub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px; }
  .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container {
    width: 100%;
    max-width: 1200px; }
    .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container h1, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container h2, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container h3, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container h4, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container h5, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container h6 {
      color: #F95300; }
    .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container p, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container li, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container span, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container ul, .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container ol {
      color: #1582BE; }
    .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .content-hub-filter-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .content-hub-filter-bar .template-content-hub-tab {
        display: flex;
        gap: 10px; }
        .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .content-hub-filter-bar .template-content-hub-tab button.active-tab {
          background-color: #A1CCEB; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .content-hub-filter-bar #search-form {
        display: flex;
        align-items: center;
        gap: 5px; }
        .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .content-hub-filter-bar #search-form input[type="search"] {
          border: 2px solid #1582BE;
          padding: 10px;
          color: #1582BE;
          font-size: clamp(24px, 5vw, 28px);
          border-radius: 20px; }
        .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .content-hub-filter-bar #search-form button[type="submit"] {
          padding: 12px !important;
          font-size: clamp(24px, 5vw, 28px); }
    .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .content-hub-tab-content {
      display: none; }
    .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .video-container {
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px 20px;
      margin-bottom: 80px; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .video-container .video-div {
        overflow: hidden;
        border-radius: 15px;
        position: relative; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .video-container .skeletton {
        border-radius: 15px;
        background-color: #e9e9e9;
        position: relative;
        min-height: 40px;
        margin-bottom: 10px; }
        .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .video-container .skeletton::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translateX(-100%);
          background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
          animation: shimmer 1s infinite;
          content: ''; }

@keyframes shimmer {
  100% {
    transform: translateX(100%); } }
    .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .pagination-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .pagination-container button {
        font-size: clamp(24px, 5vw, 28px);
        padding: 7px 13px;
        width: 50px;
        height: 50px;
        border-radius: 50%; }
        .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .pagination-container button:disabled {
          background-color: #A1CCEB;
          cursor: auto; }
    .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item {
      margin-bottom: 50px; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item p {
        margin-bottom: 0; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item h3 {
        margin: 5px 0 15px 0; }
      .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item .podcast-links {
        display: flex;
        align-items: stretch;
        gap: 1%; }
        .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item .podcast-links a {
          width: 15%; }
          .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item .podcast-links a .podcast-button {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: all 200ms; }
            .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item .podcast-links a .podcast-button img {
              max-width: 60%;
              max-height: 60%;
              transition: all 200ms; }
            .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item .podcast-links a .podcast-button:hover {
              background-color: #F95300; }
              .template-content-hub-wrapper .template-content-hub-section .template-content-hub-section-container .podcast-item .podcast-links a .podcast-button:hover img {
                transform: scale(1.15); }

.sud-404-wrapper {
  background-color: #E3F0F9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px; }
  .sud-404-wrapper .sud-404-container {
    max-width: 1600px;
    margin: 10vh 0; }
    .sud-404-wrapper .sud-404-container h3 {
      color: #F95300;
      font-size: 20vw; }
    .sud-404-wrapper .sud-404-container h5 {
      text-align: right; }
    .sud-404-wrapper .sud-404-container p, .sud-404-wrapper .sud-404-container li, .sud-404-wrapper .sud-404-container span, .sud-404-wrapper .sud-404-container ul, .sud-404-wrapper .sud-404-container ol {
      color: #1582BE; }

.splide {
  width: 100%; }

.splide__pagination__page {
  padding: 15px; }

.splide__pagination__page.is-active {
  background-color: #6EA9D8; }

.mauticform_wrapper {
  margin: 0 !important;
  max-width: none !important; }
  .mauticform_wrapper h3.mauticform-label {
    font-size: clamp(35px, 7vw, 50px); }
  .mauticform_wrapper p, .mauticform_wrapper span {
    font-size: clamp(16px, 2vw, 22px) !important;
    color: #454034 !important; }
  .mauticform_wrapper a {
    color: #F95300 !important; }
  .mauticform_wrapper .mauticform-helpmessage {
    font-size: 16px !important; }
