.section-wrapper {
     width: 100%;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     position: relative;
     overflow-x: hidden;
     overflow-y: hidden;
     padding: 80px 0;
}

.section-container { 
     width: 100%;
     max-width: 1600px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     min-height: 500px;
     z-index: 20;
}

.section-col { 
     display: flex;
     flex-direction: column;
     justify-content: center;
}


/* COMPONENTS */
.component-title { 
     width: 100%;
     padding: 0px 40% 20px 10%;
}

.component-image, .component-video  {
     width: 80%;
     border-radius: 25px;
     overflow: hidden;
     max-height: 100%; 
     max-height: fit-content;
     margin:  0px 10%;
}

.component-image > img { max-width: 100%; }

.component-video > video {max-width: 100%; }


.component-subtitle{
     width: 100%;
     padding: 0 10%;
}

.component-paragraph {
     width: 100%;
     padding: 0 10%;
     color: #1582BE;
}

div.component-button, .component-button>.btn-primary {
     display: flex;
     margin: 20px 10%;
     align-items: center;
     width: fit-content;
}

.component-button-icon {
     width: 45px;
     margin-right: 20px;
}

@media only screen and (max-width: 992px) {  
     .section-container {
          flex-wrap: wrap;
          flex-direction: column;
          gap: 50px;
     }
     .section-col { 
          width: 100% !important;
     }

}