.partner-grid-wrapper {
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.partner-grid-container {
     width: 100%;
     padding: 80px;
     max-width: 1600px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.partner-grid-container > h3 {
     text-align: center;
     display: flex;
     flex-direction: column;
     width: 100%;
}

.partner-grid-partner-cat {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 20px;
     align-items: center;
}

.partner-grid-box {
     width: calc(25% - 10px);
     min-width: 300px;
     height:200px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     
     padding:20px;
     margin:5px;
}



.partner-grid-box img{
     max-width: 100%;
}